
@{
    ViewBag.Title = "MyProfile";
}

@section Style {
    <!-- Bootstrap core CSS-->
    <!-- Custom styles for this template-->
    @*<link href="asset('custom_public/css/sb-admin.css')" rel="stylesheet">*@
    @Styles.Render("~/Content/custom_content/vendor/Linearicons-Free-v1.0.0/icon-font.min.css")
}

<div class="container" style="padding-top: 70px;">

    <div class="row my-2">
        <div class="col-lg-8 order-lg-2">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="" data-target="#home" data-toggle="tab" class="nav-link active">My Purchases</a>
                </li>
                <li class="nav-item">
                    <a href="" data-target="#profile" data-toggle="tab" class="nav-link">User Profile</a>
                </li>
                <li class="nav-item">
                    <a href="" data-target="#edituser" data-toggle="tab" class="nav-link">Edit User Info</a>
                </li>
            </ul>
            <div class="tab-content py-4">

                <div class="tab-pane  active" id="home">

                    <div class="table-responsive">
                        @if (ViewBag.Purchases != null)
                        {
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Product Name</th>
                                        <th>Product For</th>
                                        <th>Product Category</th>
                                        <th>Product Size</th>
                                        <th>Product Price /Item</th>
                                        <th>Product Discount (%)</th>
                                        <th>Purchaser Phone Number</th>
                                        <th>Purchaser Address</th>
                                        <th>Quantity Bought</th>
                                        <th>Total Price</th>
                                        <th>Date of Bought</th>
                                    </tr>
                                </thead>

                                <tbody id="items">

                                    @foreach (var purchase in ViewBag.Purchases)
                                    {
                                        <tr>
                                            <td> @purchase.Itemname </td>
                                            <td> @purchase.Itemfor </td>
                                            <td> @purchase.Category </td>
                                            <td> @purchase.Sizes </td>
                                            <td> @purchase.Price @purchase.Currency</td>
                                            <td> @purchase.Offer %</td>
                                            <td> @purchase.Phonenumber </td>
                                            <td> @purchase.address </td>
                                            <td> @purchase.Quantity </td>
                                            <td> @purchase.TotalPrice </td>
                                            <td> @purchase.PurchaseDate </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        }
                        else
                        {
                            <h4> No Purchase has been done yet!! </h4>
                        }
                        <hr />
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4 text-center">
                                <ul class="pagination" id="myPager"></ul>
                            </div>
                        </div>
                    </div><!--/table-resp-->

                    <hr />

                </div><!--/tab-pane-->

                <div class="tab-pane" id="profile">
                    <h5 class="text-capitalize mb-3">(@Session["usertype"]) @Session["username"]'s Profile</h5>
                    <div class="row">
                        <div class="col-md-6 text-capitalize">

                            <h6>About</h6>
                            <p>
                                @Session["usertype"]'s Full Name : @Session["firstname"] @Session["lastname"]
                            </p>
                            <p>
                                Gender : @Session["gender"]
                            </p>
                            <p>
                                Email : @Session["email"]
                            </p>
                            <p>
                                Phone Number : @Session["pnumber"]
                            </p>
                            <p>
                                Address : @Session["address"]
                            </p>
                        </div>
                        <div class="col-md-6">
                            <hr />
                            <span class="badge badge-primary"><i class="fa fa-user"></i> @Session["username"]</span>
                            <span class="badge badge-success"><i class="fa fa-cog"></i> @Session["firstname"]</span>
                            <span class="badge badge-danger"><i class="fa fa-eye"></i> @Session["lastname"]</span>
                            <span class="badge badge-secondary"><i class="fa fa-eye"></i> @Session["usertype"]</span>
                        </div>
                        <!--<div class="col-md-12">
                            <h5 class="mt-2"><span class="fa fa-clock-o ion-clock float-right"></span> Recent Activity</h5>
                            <table class="table table-sm table-hover table-striped">
                                <tbody>
                                    <tr>
                                       <td>
                                           <a href="/cloth/activity->notify_forid">activity->notify_dtls
                                           <span class="pull-right small text-muted">activity->notify_date activity->notify_time </span></a>
                                       </td>
                                       <td>
                                           <strong>John</strong> deleted My Board1 in <strong>`Discussions`</strong>
                                       </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>-->
                    </div>
                    <!--/row-->
                </div>

                <div class="tab-pane" id="edituser">
                    <div class="container">
                        <div class="card card-register mx-auto mt-5 pt-md-2">
                            <div class="card-header"><strong>Edit User Info</strong></div>
                            <div class="card-body">
                                <form method="post" action="/User/UpdateUser/@Session["uid"]" enctype="multipart/form-data" id="register">
                                    <div class="form-group">
                                        <div class="form-row">
                                            <div class="col-md-12">
                                                <label for="username">Admin Username</label>
                                                <input class="form-control" id="username" type="text" aria-describedby="nameHelp" placeholder="Enter Username" name="username" value="@Session["username"]" readonly>
                                                @if (Session["userEXT"] != null)
                                                {
                                                    <small id="userEXT" class="text-danger">(Session["userEXT"]</small>
                                                }
                                                <small id="usernameHelp" class="text-danger"></small>
                                            </div>
                                            <div class="col-md-6 mt-3">
                                                <label for="firstname">First name</label>
                                                <input class="form-control" id="firstname" type="text" aria-describedby="nameHelp" placeholder="Enter first name" name="firstname" value="@Session["firstname"]">
                                                <small id="firstnameHelp" class="text-danger"></small>
                                            </div>
                                            <div class="col-md-6 mt-3">
                                                <label for="lastname">Last name</label>
                                                <input class="form-control" id="lastname" type="text" aria-describedby="nameHelp" placeholder="Enter last name" name="lastname" value="@Session["lastname"]">
                                                <small id="lastnameHelp" class="text-danger"></small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <label for="gender">Gender:</label>
                                                <select class="form-control" id="gender" name="gender">
                                                    <option value="@Session["gender"]">@Session["gender"]</option>
                                                    <option value="Male">Male</option>
                                                    <option value="Female">Female</option>
                                                    <option value="other">Other</option>
                                                </select>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="DOB">Date of Birth</label>
                                                <input class="form-control" id="DOB" type="date" placeholder="Your Birth Date" name="DOB" value="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <label for="email">Email address</label>
                                                <input class="form-control" id="email" type="email" aria-describedby="emailHelp" placeholder="Enter email" name="email" value="@Session["email"]">
                                                @if (Session["emailEXT"] != null)
                                                {
                                                    <small id="emailEXT" class="text-danger">Session["emailEXT"]</small>
                                                }
                                                <small id="emailHelp" class="text-danger"></small>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="pnumber">Phone Number</label>
                                                <input class="form-control" id="pnumber" type="text" aria-describedby="phoneHelp" placeholder="Enter phone number" name="pnumber" value="@Session["pnumber"]">
                                                <small id="pnumberHelp" class="text-danger"></small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <label for="password">Password</label>
                                                <input class="form-control" id="password" type="password" placeholder="Password" name="password" value="@Session["password"]">
                                                <small id="passwordHelp" class="text-danger"></small>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="cpassword">Confirm password</label>
                                                <input class="form-control" id="cpassword" type="password" placeholder="Confirm password" name="cpassword">
                                                <small id="cpasswordHelp" class="text-danger"></small>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <label for="address">Address</label>
                                                <input class="form-control" id="address" type="text" placeholder="i.e: House# 7, Road No# 1, Block# B, Niketon" name="address" value="@Session["address"]">
                                            </div>
                                            <!--<div class="col-md-6">
                                                <label for="profilepic">Profile Pic</label>
                                                <input class="form-control" id="profilepic" type="file" name="profilepic">
                                            </div>
                                            <small id="profilepicHelp" class="text-danger"></small>-->
                                        </div>
                                    </div>
                                    <!--<a class="btn btn-primary btn-block" href="/registration">Register</a>-->
                                    <input type="hidden" name="usertype" value="User" />
                                    <input class="btn btn-primary btn-block" type="submit" value="Update Info" />
                                </form>
                            </div>
                        </div>
                    </div>

                    <!--<a class="btn btn-primary btn-block" href="/registration">Register</a>-->
                    <!--<input type="hidden" id="aid" name="aid" value="<%=Session[" id"] %>" />-->
                    <!--<input class="btn btn-primary btn-block" type="submit" value="Update Info" />-->
                    <!--<button type="button" class="btn btn-primary btn-block" onclick="EditAdmin()">Update Admin Info!</button>-->
                    <!--</form>-->
                </div>
            </div>
        </div>
        <div class="col-lg-4 order-lg-1 text-center">
            <div class="card mb-2" style="width: 22rem;">
                <!--<img class="card-img-top" src="/custom_public/uploads/users/user[0]->username}}/profilepic/$user[0]->username.jpg" onerror="this.src = '/custom_public/images/user.png'" alt="Card image cap">-->
                <div class="card-header text-muted">
                    <span class="text-capitalize">@Session["username"] (@Session["usertype"])</span>
                </div>
                <div class="card-body">
                    <p class="card-text">@Session["firstname"] @Session["lastname"]</p>
                    <p class="card-text">@Session["email"]</p>
                    <p class="card-text">@Session["pnumber"]</p>
                </div>
                <div class="card-footer">
                    <div class="input-group">
                        <form action="/user/change-profilepic" method="post" id="logout">
                            <div class="btn-group" role="group" aria-label="First group">
                                <!--<input type="submit" class="input-group-text p-2" name="logout" value="Logout" />-->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@if (TempData["usr_msg"] != null)
{
    if (TempData["usr_msg"].ToString() != "")
    {
        <script type="text/javascript">
                  alert( "@(TempData["usr_msg"])");
        </script>
    }
}

@if (TempData["msg"] != null)
{
    if (TempData["msg"].ToString() != "")
    {
        <script type="text/javascript">
                  alert( "@(TempData["msg"])");
        </script>
    }
}

